.version.contact_us /* version checker */
{
	color: #000012;
	background-color: #141C7A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u238
{
	z-index: 2;
	min-height: 78px;
	background-color: #D7272D;
}

#u238_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#buttonu240
{
	z-index: 7;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 141px;
}

#u241
{
	z-index: 9;
	height: 19px;
	width: 106px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
	background: url("../images/u241.png") no-repeat 0px 0px;
}

#buttonu240:hover #u241
{
	background: url("../images/u241-r.png") no-repeat 0px 0px;
}

#buttonu242
{
	z-index: 11;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 291px;
}

#u243
{
	z-index: 13;
	height: 19px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
	background: url("../images/u243.png") no-repeat 0px 0px;
}

#buttonu242:hover #u243
{
	background: url("../images/u243-r.png") no-repeat 0px 0px;
}

#u239-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#buttonu244
{
	z-index: 15;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 846px;
}

#buttonu240:hover,#buttonu242:hover,#buttonu244:hover
{
	background-color: #545454;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u245
{
	z-index: 17;
	height: 19px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
	background: url("../images/u245.png") no-repeat 0px 0px;
}

#buttonu244:hover #u245
{
	background: url("../images/u245-r.png") no-repeat 0px 0px;
}

#buttonu246
{
	z-index: 19;
	width: 125px;
	border-color: #787878;
	background-color: #D7272D;
	border-radius: 10px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 996px;
}

#buttonu246.ButtonSelected
{
	background-color: #D7272D;
	width: 125px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u247-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u238-bw
{
	z-index: 2;
	min-height: 78px;
}

#u344-5
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 346px;
	margin-top: 22px;
	position: relative;
}

#u343-11
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-left: 287px;
	margin-top: 52px;
	position: relative;
}

#u260
{
	z-index: 24;
	height: 78px;
	background-color: #D7272D;
}

#u260-bw
{
	z-index: 24;
	margin-top: 120px;
	height: 78px;
}

#u277-4
{
	z-index: 25;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	left: -84px;
	top: -65px;
	margin-bottom: -22px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

